
@{
    ViewBag.Title = "Index";
}



<!-- #masthead -->
<div class="spacer"></div>

<div id="content" class="site-content content strip-header-menu-content">

    <div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-645" class="post-645 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="intro" class="section-row intro" style="padding-top: 8%; padding-right: 8%; padding-bottom: 4.5%; padding-left: 8%; "><div class="section-row-bg-container section-row-bg-container-intro"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid"><div class="vc_row vc_row_fluid has-fullwidth-column"><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-8 vc_col-md-10 vc_col-xs-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-52552 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="color: #007aff;text-align: left; margin-top: 0px; "><span>Crafting Pixels</span></h4><div class="divide-line text-left "><span style="width:90px; height:1px; background-color:#007aff"></span></div></div><div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_responsive  agni_custom_heading_content " style="font-size: 35px;text-align: left; font-weight:300; "><span>We are digital creative agency focused on web design, UI/UX, SEO analysis. Our passionate team working together to complete the job before the deadline.</span></p></div></div></div></div></div></div></div><div id="intro-image" class="section-row intro-image">
                                        <div class="section-row-bg-container section-row-bg-container-intro-image"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-lg-12 vc_col-md-12 vc_col-xs-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-25715 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1920" height="1000" src="~/Public/wp-content/uploads/sites/4/2016/12/shutterstock_411786418.jpg" class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/shutterstock_411786418.jpg 1920w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/shutterstock_411786418-300x156.jpg 300w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/shutterstock_411786418-768x400.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/shutterstock_411786418-1024x533.jpg 1024w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/shutterstock_411786418-960x500.jpg 960w" sizes="(max-width: 1920px) 100vw, 1920px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="features" class="section-row features" style="padding-top: 5%; padding-right: 8%; padding-bottom: 5%; padding-left: 8%; ">
                                        <div class="section-row-bg-container section-row-bg-container-features"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-69534 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div id="agni-row-inner-36281" class="section-row-inner vc_inner ">
                                                                <div class="section-row-inner-bg-container section-row-inner-bg-container-agni-row-inner-36281"><div class="section-row-inner-bg section-row-inner-bg-color "></div></div><div class="vc_row vc_row_fluid ">
                                                                    <div class="wpb_column agni_column_container vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-66948"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class=" service-box service-box-style-1 text-left service-has-border " style="border-color: #dddddd; padding: 25px 35px 50px; ">
                                                                                    <div class=" agni-icon has-svg "><span class="agni-icon-container" style="border-radius:50%; color:#000000; stroke:#000000; "><span class="svg-icon-container  " style="font-size:72px; border-radius:50%; color:#007aff; "><span id="agni-svg-icon-96351" class="agni-svg-icon" style="stroke:#007aff; width:72px; " data-file="~/Public/wp-content/themes/fortun/css/svg/software_pen_add.svg"></span></span></span></div><h6 class="service-box-heading" style="font-size:px; ">UI/UX Designing</h6><div class="service-box-description">
                                                                                        <p>Morbi lobortis sapien et elementum gravida. Aenean posuere eleifend eros at aliquam.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-43350"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class=" service-box service-box-style-1 text-left service-has-border " style="border-color: #dddddd; padding: 25px 35px 50px; ">
                                                                                    <div class=" agni-icon has-svg "><span class="agni-icon-container" style="border-radius:50%; color:#000000; stroke:#000000; "><span class="svg-icon-container  " style="font-size:72px; border-radius:50%; color:#007aff; "><span id="agni-svg-icon-72544" class="agni-svg-icon" style="stroke:#007aff; width:72px; " data-file="~/Public/wp-content/themes/fortun/css/svg/basic_webpage.svg"></span></span></span></div><h6 class="service-box-heading" style="font-size:px; ">Web Designing</h6><div class="service-box-description">
                                                                                        <p>Morbi lobortis sapien et elementum gravida. Aenean posuere eleifend eros at aliquam.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-6 vc_col-md-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-53170"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left">
                                                                            <div class="wpb_wrapper">
                                                                                <div class=" service-box service-box-style-1 text-left service-has-border " style="border-color: #dddddd; padding: 25px 35px 50px; ">
                                                                                    <div class=" agni-icon has-svg "><span class="agni-icon-container" style="border-radius:50%; color:#000000; stroke:#000000; "><span class="svg-icon-container  " style="font-size:72px; border-radius:50%; color:#007aff; "><span id="agni-svg-icon-11590" class="agni-svg-icon" style="stroke:#007aff; width:72px; " data-file="~/Public/wp-content/themes/fortun/css/svg/software_layout_header_complex.svg"></span></span></span></div><h6 class="service-box-heading" style="font-size:px; ">Branding</h6><div class="service-box-description">
                                                                                        <p>Morbi lobortis sapien et elementum gravida. Aenean posuere eleifend eros at aliquam.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="clients" class="section-row clients" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-clients"><div class="section-row-bg section-row-bg-color " style="background-color: #007aff; "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-offset-1 vc_col-md-10">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-22913 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni-clients grid-clients row" data-clients-gutter="15" data-clients-autoplay="true" data-clients-autoplay-timeout="4000" data-clients-autoplay-hover="true" data-clients-loop="true" data-clients-pagination="true" style="margin: 0px -15px">
                                                                <div id="post-65" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-65 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <a href="#"><img width="240" height="160" src="~/Public/wp-content/uploads/sites/4/2016/12/adidas.png" class="attachment-full size-full" alt="" style="opacity: 0.95" /></a>
                                                                    </div>
                                                                </div><div id="post-76" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-76 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <a href="#"><img width="240" height="240" src="~/Public/wp-content/uploads/sites/4/2016/12/adobe.png" class="attachment-full size-full" alt="" style="opacity: 0.95" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/adobe.png 240w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/adobe-150x150.png 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/adobe-180x180.png 180w" sizes="(max-width: 240px) 100vw, 240px" /></a>
                                                                    </div>
                                                                </div><div id="post-77" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-77 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <a href="#"><img width="240" height="103" src="~/Public/wp-content/uploads/sites/4/2016/12/applepay.png" class="attachment-full size-full" alt="" style="opacity: 0.95" /></a>
                                                                    </div>
                                                                </div><div id="post-78" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-78 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <img width="240" height="240" src="~/Public/wp-content/uploads/sites/4/2016/12/google-plus.png" class="attachment-full size-full" alt="" style="opacity: 0.95" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/google-plus.png 240w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/google-plus-150x150.png 150w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/google-plus-180x180.png 180w" sizes="(max-width: 240px) 100vw, 240px" />
                                                                    </div>
                                                                </div><div id="post-79" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-79 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <a href="#"><img width="240" height="81" src="~/Public/wp-content/uploads/sites/4/2016/12/tutsplus.png" class="attachment-full size-full" alt="" style="opacity: 0.95" /></a>
                                                                    </div>
                                                                </div><div id="post-80" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-80 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <img width="240" height="235" src="~/Public/wp-content/uploads/sites/4/2016/12/github-2.png" class="attachment-full size-full" alt="" style="opacity: 0.95" />
                                                                    </div>
                                                                </div><div id="post-81" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-81 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <img width="240" height="218" src="~/Public/wp-content/uploads/sites/4/2016/12/amazon.png" class="attachment-full size-full" alt="" style="opacity: 0.95" />
                                                                    </div>
                                                                </div><div id="post-82" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-82 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <img width="240" height="180" src="~/Public/wp-content/uploads/sites/4/2016/12/sass.png" class="attachment-full size-full" alt="" style="opacity: 0.95" />
                                                                    </div>
                                                                </div><div id="post-83" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-83 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <img width="240" height="94" src="~/Public/wp-content/uploads/sites/4/2016/12/forbes.png" class="attachment-full size-full" alt="" style="opacity: 0.95" />
                                                                    </div>
                                                                </div><div id="post-84" class="client-column col-xs-12 col-sm-4 col-md-3 col-lg-2_5 post-84 clients type-clients status-publish hentry  has-invert" style="padding: 15px;  filter: invert(100%)">
                                                                    <div class="client " style="padding: 20% 35%; ">
                                                                        <img width="240" height="255" src="~/Public/wp-content/uploads/sites/4/2016/12/google-wallet.png" class="attachment-full size-full" alt="" style="opacity: 0.95" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="about-us" class="section-row about-us" style="padding-top: 4%; padding-right: 15%; padding-bottom: 2%; padding-left: 15%; border-bottom-width: 1px; border-bottom-style: solid; border-color: #dddddd; ">
                                        <div class="section-row-bg-container section-row-bg-container-about-us"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-53515 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="color: #007aff;text-align: center; margin-top: 0px; "><span>What We Can</span></h4><div class="divide-line text-center "><span style="width:60px; height:1px; background-color:#007aff"></span></div></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_col-md-12 vc_col-xs-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-14050 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 26px;text-align: left; font-weight:300; "><span>Nullam hendrerit libero ut justo scelerisque, non iaculis nibh accumsan. Duis eleifend enim, congue velit.</span></p></div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>Morbi congue id felis a convallis. Duis vitae ullamcorper mauris. Interdum et malesuada condimentum ipsum primis in faucibus. Aenean ultricies a convallis.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-lg-7 vc_col-md-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-86652 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div id="agni-row-inner-12931" class="section-row-inner vc_inner ">
                                                                <div class="section-row-inner-bg-container section-row-inner-bg-container-agni-row-inner-12931"><div class="section-row-inner-bg section-row-inner-bg-color "></div></div><div class="vc_row vc_row_fluid ">
                                                                    <div class="wpb_column agni_column_container vc_column_container vc_col-sm-4 vc_col-md-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-63935"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left" style="margin-top: 5px; ">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 20px;text-align: left; font-weight:600; "><span>UI/UX Designing</span></p></div><ul class="list ">
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Interactions</li>
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Digital Photography</li>
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Illustration</li>
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Logo Design</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4 vc_col-md-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-89980"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left" style="margin-top: 5px; ">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 20px;text-align: left; font-weight:600; "><span>Web Designing</span></p></div><ul class="list ">
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Frontend Design</li>
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Graphics Design</li>
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Illustrations</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4 vc_col-md-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-80578"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left" style="margin-top: 5px; ">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 20px;text-align: left; font-weight:600; "><span>Branding</span></p></div><ul class="list ">
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Visual Design</li>
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Print Template</li>
                                                                                    <li><i class="ion-checkmark " style="color:"></i>Copywriting</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="team" class="section-row team" style="padding-top: 4%; padding-right: 8%; padding-bottom: 4%; padding-left: 8%; ">
                                        <div class="section-row-bg-container section-row-bg-container-team"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-bottom: 14px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-27471 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="grid-team row " data-team-gutter="15" data-team-autoplay="true" data-team-autoplay-timeout="5000" data-team-autoplay-hover="true" data-team-loop="true" data-team-pagination="true" style="margin: 0px -15px">
                                                                <div id="member-post-216" class="member-column col-xs-12 col-sm-4 col-md-3 post-216 team type-team status-publish hentry " style="padding: 15px; ">
                                                                    <div class="member-content member-post  member-style-1">
                                                                        <div class="member-container" style="color:#ffffff; background-color:#007aff; ">
                                                                            <div class="member-thumbnail">
                                                                                <img width="640" height="800" src="~/Public/wp-content/uploads/sites/4/2016/12/member_30_shutterstock_312081308.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_30_shutterstock_312081308.jpg 640w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_30_shutterstock_312081308-240x300.jpg 240w" sizes="(max-width: 640px) 100vw, 640px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <h6 class="member-title"><a href="#">EVAN JACKSON</a></h6><p class="member-designation-text">Web Developer</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-twitter"></i></a></li><li><a href="#"><i class=" fa fa-pinterest"></i></a></li><li><a href="#"><i class=" fa fa-dribbble"></i></a></li><li><a href="#"><i class=" fa fa-linkedin"></i></a></li></ul>
                                                                                            <span class="member-contact"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div><div id="member-post-222" class="member-column col-xs-12 col-sm-4 col-md-3 post-222 team type-team status-publish hentry " style="padding: 15px; ">
                                                                    <div class="member-content member-post  member-style-1">
                                                                        <div class="member-container" style="color:#ffffff; background-color:#007aff; ">
                                                                            <div class="member-thumbnail">
                                                                                <img width="960" height="1200" src="~/Public/wp-content/uploads/sites/4/2016/12/member_34_shutterstock_312081308-960x1200.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_34_shutterstock_312081308-960x1200.jpg 960w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_34_shutterstock_312081308-240x300.jpg 240w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_34_shutterstock_312081308-768x960.jpg 768w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_34_shutterstock_312081308-819x1024.jpg 819w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_34_shutterstock_312081308.jpg 1200w" sizes="(max-width: 960px) 100vw, 960px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <h6 class="member-title">STEVE SMITH</h6><p class="member-designation-text">UI/UX Designer</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-facebook"></i></a></li><li><a href="#"><i class=" fa fa-google-plus"></i></a></li><li><a href="#"><i class=" fa fa-dribbble"></i></a></li></ul>
                                                                                            <span class="member-contact"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div><div id="member-post-223" class="member-column col-xs-12 col-sm-4 col-md-3 post-223 team type-team status-publish hentry " style="padding: 15px; ">
                                                                    <div class="member-content member-post  member-style-1">
                                                                        <div class="member-container" style="color:#ffffff; background-color:#007aff; ">
                                                                            <div class="member-thumbnail">
                                                                                <img width="640" height="800" src="~/Public/wp-content/uploads/sites/4/2016/12/member_32_shutterstock_312081308.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_32_shutterstock_312081308.jpg 640w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_32_shutterstock_312081308-240x300.jpg 240w" sizes="(max-width: 640px) 100vw, 640px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <h6 class="member-title">JOHN DOE</h6><p class="member-designation-text">Designer &amp; Developer</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-facebook"></i></a></li><li><a href="#"><i class=" fa fa-twitter"></i></a></li><li><a href="#"><i class=" fa fa-pinterest"></i></a></li><li><a href="mailto:yourmail@mail.com"><i class=" fa fa-envelope"></i></a></li></ul>
                                                                                            <span class="member-contact">+01 000 000 0000</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div><div id="member-post-230" class="member-column col-xs-12 col-sm-4 col-md-3 post-230 team type-team status-publish hentry " style="padding: 15px; ">
                                                                    <div class="member-content member-post  member-style-1">
                                                                        <div class="member-container" style="color:#ffffff; background-color:#007aff; ">
                                                                            <div class="member-thumbnail">
                                                                                <img width="640" height="800" src="~/Public/wp-content/uploads/sites/4/2016/12/member_33_shutterstock_312081308.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_33_shutterstock_312081308.jpg 640w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_33_shutterstock_312081308-240x300.jpg 240w" sizes="(max-width: 640px) 100vw, 640px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <h6 class="member-title"><a href="#">ROBERT HENDRY</a></h6><p class="member-designation-text">UI/UX Designer</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-twitter"></i></a></li><li><a href="#"><i class=" fa fa-vk"></i></a></li><li><a href="#"><i class=" fa fa-skype"></i></a></li><li><a href="#"><i class=" fa fa-linkedin"></i></a></li></ul>
                                                                                            <span class="member-contact"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div><div id="member-post-231" class="member-column col-xs-12 col-sm-4 col-md-3 post-231 team type-team status-publish hentry " style="padding: 15px; ">
                                                                    <div class="member-content member-post  member-style-1">
                                                                        <div class="member-container" style="color:#ffffff; background-color:#007aff; ">
                                                                            <div class="member-thumbnail">
                                                                                <img width="640" height="800" src="~/Public/wp-content/uploads/sites/4/2016/12/member_31_shutterstock_312081308.jpg" class=" team-thumbnail" alt="" srcset="http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_31_shutterstock_312081308.jpg 640w, http://demo.agnidesigns.com/fortune/demo3/wp-content/uploads/sites/4/2016/12/member_31_shutterstock_312081308-240x300.jpg 240w" sizes="(max-width: 640px) 100vw, 640px" />
                                                                            </div>
                                                                            <div class="member-caption-content">
                                                                                <div class="member-content">
                                                                                    <div class="member-content-details">
                                                                                        <h6 class="member-title">Christian</h6><p class="member-designation-text">Designer</p><div class="member-meta">
                                                                                            <ul class="list-inline"><li><a href="#"><i class=" fa fa-pinterest"></i></a></li><li><a href="#"><i class=" fa fa-dribbble"></i></a></li><li><a href="#"><i class=" fa fa-linkedin"></i></a></li></ul>
                                                                                            <span class="member-contact"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div id="milestone" class="section-row milestone" style="padding-top: 4%; padding-right: 8%; padding-bottom: 4%; padding-left: 8%; ">
                                        <div class="section-row-bg-container section-row-bg-container-milestone"><div class="section-row-bg section-row-bg-image " style="background-image: url(/Public/wp-content/uploads/sites/4/2016/12/shutterstock_444082576.jpg); background-repeat:repeat; background-size:cover; background-position:center center; background-attachment:scroll; "></div><div class="section-row-bg-overlay overlay" style="background-color:rgba(0,0,0,0.6);"></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-lg-12 vc_col-md-12">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-69176 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div id="agni-row-inner-80145" class="section-row-inner vc_inner ">
                                                                <div class="section-row-inner-bg-container section-row-inner-bg-container-agni-row-inner-80145"><div class="section-row-inner-bg section-row-inner-bg-color "></div></div><div class="vc_row vc_row_fluid ">
                                                                    <div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-93495"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="mile-content has-dark-mode  milestone-style-2 ">
                                                                                    <div class="mile-icon" style="color:#ffffff; font-size: 45px; ">
                                                                                        <i class="icon-basic-laptop"></i>
                                                                                    </div>
                                                                                    <div class="mile-description">
                                                                                        <div class="mile-count">
                                                                                            <h4 class="count" style="font-size: px; " data-count="30" data-count-animation="1" data-sep="" data-pre="" data-suf="" data-animation-offset="90%">30</h4>
                                                                                        </div>
                                                                                        <div class="mile-title">
                                                                                            <p>Projects Done</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-19883"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="mile-content has-dark-mode  milestone-style-2 ">
                                                                                    <div class="mile-icon" style="color:#ffffff; font-size: 45px; ">
                                                                                        <i class="icon-basic-alarm"></i>
                                                                                    </div>
                                                                                    <div class="mile-description">
                                                                                        <div class="mile-count">
                                                                                            <h4 class="count" style="font-size: px; " data-count="512" data-count-animation="1" data-sep="" data-pre="" data-suf="" data-animation-offset="90%">512</h4>
                                                                                        </div>
                                                                                        <div class="mile-title">
                                                                                            <p>Sleepless hours</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><div class="wpb_column agni_column_container vc_column_container vc_col-sm-4">
                                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-39365"><div class="section-column-inner-bg section-column-inner-bg-color "></div></div><div class="agni_column-inner vc_column-inner text-left" style="padding-top: 20px; padding-bottom: 20px; ">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="mile-content has-dark-mode  milestone-style-2 ">
                                                                                    <div class="mile-icon" style="color:#ffffff; font-size: 45px; ">
                                                                                        <i class="icon-weather-waxing-gibbous"></i>
                                                                                    </div>
                                                                                    <div class="mile-description">
                                                                                        <div class="mile-count">
                                                                                            <h4 class="count" style="font-size: px; " data-count="300" data-count-animation="1" data-sep="" data-pre="" data-suf="" data-animation-offset="90%">300</h4>
                                                                                        </div>
                                                                                        <div class="mile-title">
                                                                                            <p>Days of work</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
