
@{
    ViewBag.Title = "Index";
}




<div class="spacer"></div>

<div id="content" class="site-content content strip-header-menu-content">

    <div class="page-layout has-fullwidth">
        <div class="page-container container-fluid">
            <div class="page-row row no-sidebar ">


                <div class="page-column page-content col-sm-12 col-md-12">
                    <div id="primary" class="primary content-area">
                        <main id="main" class="site-main">


                            <article id="post-242" class="post-242 page type-page status-publish hentry">
                                <div class="entry-content">
                                    <div id="agni-row-41572" class="section-row contact-form">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-41572"><div class="section-row-bg section-row-bg-color "></div></div><div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12 vc_col-md-6 vc_col-xs-12"><div class="agni_column-inner vc_column-inner text-left"><div class="section-column-bg-container section-column-bg-container-agni-column-66427 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper"><div id="google-map-1" class="map-canvas google-map-1 map-canvas-style-1" style="height:100vh;" data-map-style="1" data-map-accent-color="#ff655c" data-map-drag="1" data-map-zoom="16" data-map="http://demo.agnidesigns.com/fortune/demo3/wp-content/themes/fortun/img/marker.png" data-lng="144.964233" data-lat="-37.801379" data-add1="Envato, Melbourne" data-add2="Australia" data-add3="" data-lng-2="" data-lat-2="" data-add1-2="" data-add2-2="" data-add3-2="" data-dir="http://demo.agnidesigns.com/fortune/wp-content/themes/fortun/"></div></div></div></div><div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-6 vc_col-md-6">
                                                    <div class="agni_column-inner vc_column-inner text-left" style="padding-top: 9%; padding-right: 14%; padding-bottom: 9%; padding-left: 14%; ">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-92670 "><div class="section-column-bg section-column-bg-color "></div></div><div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll"><h4 class="vc_custom_heading agni_custom_heading_content " style="color: #007aff;text-align: left; "><span>Contact</span></h4><div class="divide-line text-left "><span style="width:60px; height:1px; background-color:#007aff"></span></div></div><div class="agni_custom_heading page-scroll"><p class="vc_custom_heading agni_custom_heading_content " style="font-size: 24px;text-align: left; padding-bottom: 30px; "><span>Having doubts, queries or Need to request quote, please send the mail to us, we will take you shortly.</span></p></div><div role="form" class="wpcf7" id="wpcf7-f256-p242-o1" lang="en-US" dir="ltr">
                                                                <div class="screen-reader-response"></div>
                                                                <form action="http://demo.agnidesigns.com/fortune/demo3/d3-contact-us/#wpcf7-f256-p242-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                                    <div style="display: none;">
                                                                        <input type="hidden" name="_wpcf7" value="256" />
                                                                        <input type="hidden" name="_wpcf7_version" value="4.4.2" />
                                                                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f256-p242-o1" />
                                                                        <input type="hidden" name="_wpnonce" value="fa2379b594" />
                                                                    </div>
                                                                    <div class="row fortun-contact-form-style-2">
                                                                        <div class="col-sm-7 col-md-7"><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*" /></span></div>
                                                                        <div class="col-sm-5 col-md-5"><span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Phone" /></span></div>
                                                                        <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject" /></span></div>
                                                                        <div class="col-sm-12 col-md-12"><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="6" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea></span></div>
                                                                        <div class="col-sm-12 col-md-12"><input type="submit" value="Send Mail" class="wpcf7-form-control wpcf7-submit btn-primary" /></div>
                                                                    </div>
                                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->



                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div>
            </div>
        </div>
    </div>


</div><!-- #content -->
